    <div class="col preset">
        <div class="row justify-content-center fw-bold">{{ type_a }}</div>
        <div class="row justify-content-center">
            <div class="col text-center">
                Bovenwaarde
                {{ items.a_highValue }} Bar <br>
                {{ items.a_hvPlus }} / {{ items.a_hvMin }}
            </div>
            <div class="col text-center">
                Onderwaarde
                {{ items.a_lowValue }} Bar <br>
                {{ items.a_lvPlus }} / {{ items.a_lvMin }}
            </div>
        </div>
    </div>

     <div class="col preset">
        <div class="row justify-content-center fw-bold">{{ type_b }}</div>
        <div class="row justify-content-center">
            <div class="col text-center">
                Bovenwaarde
                {{ items.b_highValue }} Bar <br>
                {{ items.b_hvPlus }} / {{ items.b_hvMin }}
            </div>
            <div class="col text-center">
                Onderwaarde
                {{ items.b_lowValue }} Bar <br>
                {{ items.b_lvPlus }} / {{ items.b_lvMin }}
            </div>
        </div>
    </div>
