    <div class="col">
        <div class="row">""HighPress""</div>
        <div class="row">{{ items.a_highValue }} Bar</div>
        <div class="row">{{ items.a_hvPlus }} Bar</div>
        <div class="row">{{ items.a_hvMin }} Bar</div>
        <div class="row">{{ items.a_lowValue }} Bar</div>
        <div class="row">{{ items.a_lvPlus }} Bar</div>
        <div class="row">{{ items.a_lvMin }} Bar</div>
    </div>

    <div class="col">
        <div class="row">""LowPress""</div>
        <div class="row">{{ items.b_highValue }} Bar</div>
        <div class="row">{{ items.b_hvPlus }} Bar</div>
        <div class="row">{{ items.b_hvMin }} Bar</div>
        <div class="row">{{ items.b_lowValue }} Bar</div>
        <div class="row">{{ items.b_lvPlus }} Bar</div>
        <div class="row">{{ items.b_lvMin }} Bar</div>
    </div>
