{% extends "layout.html" %}
{% block title %}Index{% endblock %}

{% block content %}
        <div class="row">
          <div class="col">
            Brouwer Technology
          </div>
        </div>
        <div class="row">

          <div class="col">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="select_com" data-bs-toggle="dropdown" aria-expanded="false">
                Com Poort
              </button>
              <ul class="dropdown-menu" aria-labelledby="select_com"></ul>
            </div>
          </div>

          <div class="col">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="select_model" data-bs-toggle="dropdown" aria-expanded="false">
                Calibratie model
              </button>
              <ul class="dropdown-menu" aria-labelledby="select_model"></ul>
            </div>
          </div>

          <div class="col">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="main_printer" data-bs-toggle="dropdown" aria-expanded="false">
                Selecteer printer
              </button>
              <ul class="dropdown-menu" aria-labelledby="main_printer"></ul>
            </div>
          </div>

          <div class="col">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="label_writer" data-bs-toggle="dropdown" aria-expanded="false">
                Selecteer Label writer
              </button>
              <ul class="dropdown-menu" aria-labelledby="label_writer"></ul>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col">Rv</div>
          <div class="col">Temp</div>
          <div class="col">Pressure</div>
          <div class="col">Switch</div>
        </div>

        <div class="row">Graph container</div>

        <div class="row">
          <div class="col">Start test ""HighPress""</div>
          <div class="col">Start test ""lowPress""</div>
          <div class="col">Reset Test</div>
        </div>

        <div class="row model_preset">(model preset)</div>

        <div class="row">Complete Calibration</div>

        <div id="modbusData">-</div>


        <script>
          var modbusCall = function(){
              $.ajax({
                url: "/modbusData",
                type: "get",
                success: function(response) {
                  $("#modbusData").html(response);
                },
                error: function(xhr) {
                  //Do Something to handle error
                }
              });
            };

            var interval = 500; // where X is your every X minutes
            setInterval(modbusCall, interval)

            var get_model_data = function(){
              $.ajax({
                url: "/get_calibration_model",
                type: "get",
                success: function(response) {
                  $("[aria-labelledby='select_model']").html(response);
                },
                error: function(xhr) {
                  //Do Something to handle error
                }
              });
            };
            get_model_data()

            var get_model_preset = function(){
              $.ajax({
                url: "/get_model_preset/1",
                type: "get",
                success: function(response) {
                  $(".model_preset").html(response);
                },
                error: function(xhr) {
                  //Do Something to handle error
                }
              });
            };
            get_model_preset()

        </script>
{% endblock %}
