{% extends "layout.html" %} {% block title %}Index{% endblock %} {% block
content %}

<div class="row topline"></div>
<div class="row menu" id="mainmenu">
  <div class="col btn-group">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="select_com"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Connectie
    </button>
    <ul class="dropdown-menu" aria-labelledby="select_com"></ul>
  </div>

  <div class="col btn-group">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="select_model"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Calibratie model
    </button>
    <ul class="dropdown-menu" aria-labelledby="select_model"></ul>
  </div>

  <div class="col btn-group">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="main_printer"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Selecteer printer
    </button>
    <ul class="dropdown-menu" aria-labelledby="main_printer"></ul>
  </div>

  <div class="col btn-group">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="label_writer"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Selecteer Label writer
    </button>
    <ul class="dropdown-menu" aria-labelledby="label_writer"></ul>
  </div>
</div>

<div class="row reader">
  <div class="col">
    <div class="row justify-content-center fw-bold">Rv</div>
    <div class="row justify-content-center">40 %</div>
  </div>
  <div class="col">
    <div class="row justify-content-center fw-bold">Temperatuur</div>
    <div class="row justify-content-center">20 °</div>
  </div>
  <div class="col">
    <div class="row justify-content-center fw-bold">Druk</div>
    <div class="row justify-content-center">8 Bar</div>
  </div>
  <div class="col">
    <div class="row justify-content-center fw-bold">Scakeling</div>
    <div class="row justify-content-center">Check</div>
  </div>
</div>
<div class="row h-100 test">
<div class="row">
  <div class="col-md-6">
    <div id="a_chart"></div>
  </div>
  <div class="col">
    <div id="b_chart"></div>
  </div>
</div>

<div class="row model_preset"></div>

<div class="row">
  <div class="col">
    <button type="button" class="btn btn-dark">Start</button>
    <button type="button" class="btn btn-dark">Stop</button>
    <button type="button" class="btn btn-dark">Reset</button>
  </div>

  <div class="col">
    <button type="button" class="btn btn-dark">Start</button>
    <button type="button" class="btn btn-dark">Stop</button>
    <button type="button" class="btn btn-dark">Reset</button>
  </div>
</div>
</div>

<div class="row completed ">
  <div class="col">
    <button type="button" class="btn btn-dark full-width-buttons">
      Voltooi Calibratie
    </button>
  </div>

  <div class="col">
    <h2><span class="badge bg-secondary ">199865</span></h2>
  </div>

  <div class="col">
    <button type="button" class="btn btn-dark full-width-buttons">
      Print opnieuw
    </button>
  </div>
</div>

<!-- <div class="row">Complete Calibration</div> -->

<div id="modbusData"></div>

{% endblock %}
