<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Change to local when done -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>title</title>
  </head>
  <body>
    <div class="container-fluid topline">
      <p>---------------------------------</p>
      <p>{{ read_data }}</p>
      <p>---------------------------------</p>
        <div class="row">
          <div class="col">
            top line
          </div>
        </div>
        <div class="row">
          <div class="col">Com select</div>
          <div class="col">Interval Select</div>
          <div class="col">Model select</div>
          <div class="col">Main printer select</div>
          <div class="col">Label writer select</div>
        </div>

        <div class="row">
          <div class="col">Rv</div>
          <div class="col">Temp</div>
          <div class="col">Pressure</div>
          <div class="col">Switch</div>
        </div>

        <div class="row">Graph container</div>

        <div class="row">
          <div class="col">Start test ""HighPress""</div>
          <div class="col">Start test ""lowPress""</div>
          <div class="col">Reset Test</div>
        </div>

        <div class="row">
          <div class="col">
            <div class="row">""HighPress""</div>
            <div class="row">Data high</div>
            <div class="row">Data high +</div>
            <div class="row">Data high -</div>
            <div class="row">Data low</div>
            <div class="row">Data low +</div>
            <div class="row">Data low -</div>
          </div>

          <div class="col">
            <div class="row">""LowPress""</div>
            <div class="row">Data high</div>
            <div class="row">Data high +</div>
            <div class="row">Data high -</div>
            <div class="row">Data low</div>
            <div class="row">Data low +</div>
            <div class="row">Data low -</div>
          </div>
        </div>

        <div class="row">Complete Calibration</div>

        <div id="place_for_suggestions">-</div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        
        <script>
          var ajax_call = function(){
              $.ajax({
                url: "/suggestions",
                type: "get",
                success: function(response) {
                  $("#place_for_suggestions").html(response);
                },
                error: function(xhr) {
                  //Do Something to handle error
                }
              });
            };

            var interval = 500; // where X is your every X minutes
            setInterval(ajax_call, interval)

        </script>


    </div>

    <!-- Change to local when done -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  </body>
</html>